{% extends 'base.html.twig' %}

{% block title %}DeptEmps{% endblock %}

{% block body %}
	<h6 class="display-4">DeptEmps</h6>
	{% for message in app.flashes('notice') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>FromDate</th>
                <th>ToDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dept_emp in dept_emps %}
            <tr>
                <td>{{ dept_emp.id }}</td>
                <td>{{ dept_emp.fromDate ? dept_emp.fromDate|date('Y-m-d') : '' }}</td>
                <td>{{ dept_emp.toDate ? dept_emp.toDate|date('Y-m-d') : '' }}</td>
	            <td>
		            <a href="{{ path('dept_emp_show', {'id': dept_emp.id}) }}" class="btn btn-success btn-sm " role="button"
		               aria-pressed="true">Show</a>
		            <a href="{{ path('dept_emp_update', {'id': dept_emp.id}) }}" class="btn btn-warning btn-sm " role="button"
		               aria-pressed="true">Update</a>
		            <a href="{{ path('dept_emp_delete', {'id': dept_emp.id}) }}" class="btn btn-danger btn-sm " role="button"
		               aria-pressed="true">Delete</a>
	            </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	<div class="d-flex">
		<div class="mr-auto p-2">
			<a href="{{ path('dept_emp_create') }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Create new</a>
		</div>
	</div>
{% endblock %}
{% block javascripts %}

	{{ parent() }}

{% endblock %}
