<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Welcome LOGIN!{% endblock %}</title>
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
	{% endblock %}
</head>
<body class="bg-light">
<nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark p-0">
	<img src="/images/login-logo.jpg" width="60">
	<a class="navbar-brand col-sm-3 col-md-2 mr-0"
	   href="{{ path('project_index') }}">Login test App
	</a>

	<div class="w-100 order-1 order-md-0">
		<ul class="navbar-nav px-3">
			{% if is_granted('ROLE_USER') %}
				<li class="nav-item text-nowrap">
					<a class="nav-link" href="{{ path('employee_list') }}">
						<i class="fa fa-plus-square"></i>&nbsp;
						Employees
					</a>
				</li>
				<li class="nav-item text-nowrap">
					<a class="nav-link" href="{{ path('title_list') }}">
						<i class="fa fa-plus-square"></i>&nbsp;
						Titles
					</a>
				</li>
				<li class="nav-item text-nowrap">
					<a class="nav-link" href="{{ path('salary_list') }}">
						<i class="fa fa-plus-square"></i>&nbsp;
						Salaries
					</a>
				</li>
				<li class="nav-item text-nowrap">
					<a class="nav-link" href="{{ path('department_list') }}">
						<i class="fa fa-plus-square"></i>&nbsp;
						Departments
					</a>
				</li>
				<li class="nav-item text-nowrap">
					<a class="nav-link" href="{{ path('dept_emp_list') }}">
						<i class="fa fa-plus-square"></i>&nbsp;
						Dept-Emp
					</a>
				</li>
				<li class="nav-item text-nowrap">
					<a class="nav-link" href="{{ path('dept_manager_list') }}">
						<i class="fa fa-plus-square"></i>&nbsp;
						Dept-Manager
					</a>
				</li>
			{% endif %}
		</ul>
	</div>


	<div class="order-2 order-md-1">
		<ul class="navbar-nav px-3">
			{% if is_granted('ROLE_USER') %}
				<li class="nav-item text-nowrap border-secondary">
					<a class="nav-link"
					   href="{{ path('user_update', { 'username':app.user.username }) }}">
						Edit {{ app.user.fullName }}
					</a>
				</li>
				<li class="nav-item text-nowrap">
					<a class="nav-link"
					   href="{{ path('security_logout') }}">Sign out</a>
				</li>
			{% else %}
				<li class="nav-item text-nowrap">
					<a class="nav-link"
					   href="{{ path('security_login') }}">Sign in</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>

<main role="main" class="container">
	<div class="my-3 p-3 bg-white rounded box-shadow">
		{% block body %}
		{% endblock %}
	</div>

</main>
{% block javascripts %}
	<script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>
